---
import ResumeSection from "@/components/ResumeSection.astro";

import { basics } from "@/config/site.json";
---

<ResumeSection title="About" class="grid gap-3">
  <p class="font-space-mono">{basics.about}</p>
</ResumeSection>
