---
import Box from "@/components/Box.astro";
import Card from "@/components/Card.astro";

import BriefcaseIcon from "@/icons/Briefcase.astro";

import Carousel from "./experience/Carousel.astro";
---

<Card class="animate-fade-up animate-delay-[400ms]">
  <Box
    class="rounded-full inline-flex items-center gap-2 py-1 px-3 mb-4 text-neutral-500 dark:text-neutral-400"
  >
    <BriefcaseIcon class="size-5" />
    <h2 class="font-space-mono text-md font-medium select-none">Experience</h2>
  </Box>
  <Carousel />
</Card>
