---
import Layout from "@/layouts/Layout.astro";

import ExperienceSection from "@/sections/home/Experience.astro";
import FooterSection from "@/sections/home/Footer.astro";
import HeroSection from "@/sections/home/Hero.astro";
---

<Layout>
  <main class="mx-auto max-w-6xl *:px-4 *:mb-5">
    <section class="w-full grid auto-rows-[172px] grid-cols-12 gap-4">
      <HeroSection />
    </section>
    <section class="w-full">
      <ExperienceSection />
    </section>
  </main>
  <footer class="mx-auto max-w-6xl px-4 mb-5">
    <FooterSection class="min-h-28" />
  </footer>
</Layout>
