---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="grid place-items-center min-h-[450px] mx-auto max-w-6xl p-4">
    <img
      alt="Under Construction"
      src="/under-construction.jpg"
      class="aspect-square rounded-full max-h-96"
    />
  </main>
</Layout>
