---
import ResumeLayout from "@/layouts/ResumeLayout.astro";

import Heading from "@/sections/resume/Heading.astro";
---

<ResumeLayout>
  <main class="mx-auto p-4 text-neutral-700 dark:text-neutral-200">
    <Heading />
  </main>
</ResumeLayout>
