---
import HomeButton from "./HomeButton.astro";
import ResumeButton from "./ResumeButton.astro";
import ThemeToggler from "./ThemeToggler.astro";
---

<header class="w-full sticky top-0 z-10 py-4 backdrop-blur-md">
  <div
    class="max-w-6xl mx-auto min-h-14 px-4 flex items-center justify-between"
  >
    <HomeButton />
    <div class="flex items-center gap-3 text-white">
      <ThemeToggler />
      <ResumeButton />
    </div>
  </div>
</header>
