<theme-toggler></theme-toggler>

<style>
  @reference "../../styles/global.css";
</style>

<script>
  import moonIcon from "@/assets/icons/moon.svg";
  import sunIcon from "@/assets/icons/sun.svg";

  if (!customElements.get("theme-toggler")) {
    customElements.define(
      "theme-toggler",
      class extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `
            <label
              for="theme-toggler"
              aria-labelledby="theme-toggler-description"
              class="flex items-center cursor-pointer animate-fade"
            >
              <span id="theme-toggler-description" class="hidden">Change theme</span>
              <div class="relative">
                <input
                  type="checkbox"
                  name="dark-mode"
                  id="theme-toggler"
                  class="checkbox peer hidden"
                />
                <div
                  class="block w-12 h-7 sm:w-16 sm:h-9 rounded-full border-2 bg-neutral-200 border-neutral-300 peer-hover:border-neutral-400 dark:bg-neutral-700 dark:border-neutral-500 dark:peer-hover:border-neutral-400 transition-colors duration-300"
                ></div>
                <div
                  class="dot absolute left-1 top-1 size-5 sm:size-7 rounded-full select-none grid place-items-center bg-neutral-100 dark:bg-neutral-900 transition duration-300 peer-checked:translate-x-full"
                >
                  <img
                    alt="Moon icon"
                    src="${moonIcon.src}"
                    class="hidden dark:block size-4"
                  />
                  <img
                    alt="Sun icon"
                    src="${sunIcon.src}"
                    class="block dark:hidden size-4"
                  />
                </div>
              </div>
            </label>
          `;

          const themeToggler: HTMLInputElement =
            this.querySelector("#theme-toggler")!;

          themeToggler.onchange = (event) => {
            window.theme.setTheme(
              (event.target as HTMLInputElement).checked ? "dark" : "light",
            );
          };

          this._updateSelectedTheme();

          document.addEventListener("theme-changed", (event) => {
            this._updateSelectedTheme((event as CustomEvent).detail.theme);
          });
        }

        _updateSelectedTheme(newTheme = window.theme.getTheme()) {
          const themeToggler: HTMLInputElement =
            this.querySelector("#theme-toggler")!;

          themeToggler.checked = newTheme === "dark";
        }
      },
    );
  }
</script>
