---
import Card from "@/components/Card.astro";
import Counter from "@/components/Counter.astro";

import { getExperienceYearsAmount } from "@/lib/dates";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;

const yearsAmount = await getExperienceYearsAmount();
---

<Card class={`${className} grid place-content-center gap-1 `}>
  <Counter yearsAmount={yearsAmount} />
  <span
    class="text-sm text-center font-medium leading-tight text-balance select-none text-neutral-700 dark:text-neutral-400"
  >
    years of experience
  </span>
</Card>
