---
import type { CollectionEntry } from "astro:content";

import ExperienceDuration from "@/components/ExperienceDuration.astro";

type Props = Pick<
  CollectionEntry<"work-experience">["data"],
  "from" | "position" | "title" | "to"
>;

const { from, position, title, to } = Astro.props;
---

<div class="w-full text-center text-neutral-800/90 dark:text-neutral-50 *:mb-1">
  <div class="flex items-end justify-center h-16">
    <h3 class="text-xl font-bold leading-tight text-balance sm:text-2xl">
      {title}
    </h3>
  </div>
  <p class="text-sm font-medium italic">
    {position}
  </p>
  <p class="text-sm font-normal">
    <ExperienceDuration from={from} to={to} />
  </p>
</div>
