:root, :root[data-theme="light"] {
  color-scheme: light;
  --text-color: theme(colors.black);
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --text-color: theme(colors.white);
}

html, body { min-height: 100vh; }
html { font-family: 'Rubik Variable', sans-serif; }
body { color: var(--text-color); }

::selection {
  @apply text-neutral-100;
  background-color: rgba(245, 158, 11, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="dark"] {
    --text-color: #ffffff;
    color-scheme: dark;
  }
}
