---
import "@/assets/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead title="Italo De la Peña | Frontend Developer" />
  <body>
    <slot />
  </body>
</html>
