---
import "@fontsource-variable/rubik/wght.css";
import "@fontsource-variable/rubik/wght-italic.css";
import "@fontsource/space-mono/400.css";
import "@fontsource/space-mono/700.css";
import "@fontsource/space-mono/400-italic.css";
import "@fontsource/space-mono/700-italic.css";

import "@/assets/styles/global.css";

import Background from "@/components/Background.astro";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/header/Header.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead title="Italo De la Peña | Frontend Developer" />
  <body>
    <Background />
    <Header />
    <slot />
  </body>
</html>
