---
import "@fontsource-variable/rubik/wght.css";
import "@fontsource-variable/rubik/wght-italic.css";
import "@fontsource/space-mono/400.css";
import "@fontsource/space-mono/700.css";
import "@fontsource/space-mono/400-italic.css";
import "@fontsource/space-mono/700-italic.css";

import "@/assets/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/header/Header.astro";
---

<!doctype html>
<html lang="es">
  <BaseHead title="Italo De la Peña | Frontend Developer" />
  <body
    class="bg-gradient bg-top bg-repeat-space bg-neutral-50 dark:bg-neutral-900"
  >
    <Header />
    <slot />
  </body>
</html>
